/* for firefox */
* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #d8d8d8;
}

::-webkit-scrollbar {
  @apply w-1 lg:w-2;
}

.remove-scroll::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-thin::-webkit-scrollbar {
  @apply w-1;
}

.scroll-thin::-webkit-scrollbar-track {
  @apply w-1;
}

.hide-scroll::-webkit-scrollbar-thumb {
  @apply bg-transparent;
}

.hide-scroll:hover::-webkit-scrollbar-thumb {
  @apply bg-dark-600;
}

::-webkit-scrollbar-track {
  display: initial;
}

::-webkit-scrollbar-thumb {
  @apply bg-dark-600;
  border-radius: 5px;
}
